@media screen and (max-width:500px )  {
    .main-area{
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }
    h1{
        margin-bottom: 70px;
      }

      .btn1{
        margin-bottom: 30px;
      }
  }
  
  
